node_modules/
secret.txt
serviceAccountKey.json
.env
backend-classmgmt/.env
./uploads
frontend-classmgmt/.env
cypress.env.json
backend-classmgmt/uploads/
.vscode

# React Component Preview
previewConfig.json